DATABASE_URL=
SESSION_SECRET=
PUBLIC_APP_NAME="D&D Character Manager"
PUBLIC_APP_URL=http://localhost:5173
NODE_ENV=development

# Used by npm run db:seed:user
SEED_USER_EMAIL=
SEED_USER_PASSWORD=
SEED_USER_NAME=
